apiVersion: v1
kind: Service
metadata:
  name: bulkpayment-api
spec:
  type: NodePort
  selector:
    app: bulkpayment-api
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: https       
      port: 443
      targetPort: 8443
